<div class="column is-half is-offset-one-quarter is-narrow is-flex is-flex-direction-column	is-justify-content-center	is-align-items-center" style="height: 500px;">
  <h1 class="title is-1">Sign Up</h1>
  <form action="http://localhost:8080/signup" method ="post">
    <div class="field" style="width: 300px">
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="text" placeholder="First Name" name="firstname" Requerido>
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>
    </div>
    <div class="field" style="width: 300px;">
      <p class="control has-icons-left">
        <input class="input" type="text" placeholder="Last Name" name="lastname" Requerido>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field" style="width: 300px">
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="text" placeholder="Email" name="email" Requerido>
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>
    </div>
      <div class="field" style="width: 300px">
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="number" placeholder="Age" name="age" Requerido>
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>
    </div>
      <div class="field" style="width: 300px">
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="password" placeholder="Password" name="password" Requerido>
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>
    </div>
      <div class="field">
      <p class="control">
        <button class="button is-success" >
          Sign up
        </button>
      </p>
    </div>
  </form>  
  {{#if error}}
  <h3 class="title is-5">{{error}}</h3>
  {{/if}}
</div>  